.chat {

    height: calc(100vh - 31.5 * 100vw / 1400 - 49.5 * 100vw / 1400 - 71.5 * 100vw / 1400);
    padding: vw(18.5) vw(23) vw(20);
    @include scrollbar;
}

.chat-day {

    position: relative;
    border-top: vw(1) solid rgba(#000, .16);
    padding: vw(20) 0;

    &:first-child {
        border-top: none;
    }

    // .chat-day__message

    &__message {
        display: flex;

        &:not(:last-child) {
            margin-bottom: vw(10.3);
        }
    }

    // .chat-day__message-avatar

    &__message-avatar {
        width: vw(32);
        height: vw(32);
        flex-shrink: 0;
        margin-right: vw(12);
    }

    // .chat-day__message-content

    &__message-content {
        display: flex;
        flex-wrap: wrap;
    }

    // .chat-day__message-name

    &__message-name {
        @extend %text-12;
        font-weight: 700;
        color: #000;
    }

    // .chat-day__message-time

    &__message-time {
        @extend %text-12;
        color: #8D8D8D;
        margin-left: vw(8);
    }

    // .chat-day__message-text

    &__message-text {
        width: 100%;
        @extend %text-12;
        color: #000;
        margin-top: vw(2.2);

        img {
            display: inline-block;
            margin-left: vw(3);
        }
    }

    // .chat-day__title

    &__title {
        @extend %pos-center-x;
        top: vw(-10);
        @extend %text-13;
        color: #8D8D8D;
        background-color: #fff;
        padding: 0 vw(14.5);
    }

    // .chat-day__img

    &__img {
        position: relative;
    }

    // .chat-day__img-descr

    &__img-descr {
        @extend %text-12;
        margin-bottom: vw(9.3);
    }

    // .chat-day__img-likes

    &__img-likes {
        position: absolute;
        bottom: vw(-12.5);
        right: vw(-22.5);
        width: vw(45);
        height: vw(25);
        border-radius: vw(5);
        background-color: #fff;
        box-shadow: 0vw vw(2) vw(8) rgba(0, 0, 0, 0.14);
        @extend %flex-center;
        @extend %text-12;
        color: #000;

        img {
            flex-shrink: 0;
            margin-right: vw(4.5);
        }
    }
}

.blue-text {
    color: $blue;
}